# Build files
build/
*.log
sdkconfig.backup
sdkconfig.broken_h2
sdkconfig.old

# Python environment
.venv/
__pycache__/
*.pyc

# IDE configs
.vscode/
.clangd/
.cache/

# Environment files
.env

# Database files
*.db
*.sqlite
telegram_bot/attendance.db
